.wrapper {
  border: none;
  background-color: var(--violet);

  font-size: var(--font-size-bod);
  font-weight: 700;
  color: var(--white);
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: var(--light-violet);
  }
}
