.wrapper {
  grid-area: footer;
  background-color: var(--search-and-grid-background);

  display: flex;
  justify-content: center;
}

.innerwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 730px;
  height: 96px;

  border: 2px solid blue;
}

.innerwrapper h3 {
  font-size: var(--font-size-heading-3);
  font-weight: 700;
  line-height: 1;
  color: var(--font-color);

  margin-bottom: 12px;
}

.innerwrapper p {
  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: 1;
  color: var(--dark-gray);
}
