// Breakpoints
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

.wrapper {
  grid-area: footer;
  background-color: var(--search-and-grid-background);

  display: flex;
  justify-content: center;

  @media (max-width: $tablet-and-below) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: $mobile-and-below) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.innerwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 730px;
  height: 96px;

  border: 2px solid blue;

  @media (max-width: $tablet-and-below) {
    max-width: 689px;
    width: 100%;
  }

  @media (max-width: $mobile-and-below) {
    justify-content: center;
    max-width: 327px;
  }
}

.innerwrapper h3 {
  font-size: var(--font-size-heading-3);
  font-weight: 700;
  line-height: 1;
  color: var(--font-color);

  margin-bottom: 12px;
}

.innerwrapper p {
  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: 1;
  color: var(--dark-gray);
}

.desktopandtablet {
  @media (max-width: $mobile-and-below) {
    display: none;
  }
}

.onlyonmobile {
  display: none;
  @media (max-width: $mobile-and-below) {
    display: flex;
    justify-content: center;
  }
}
