// Breakpoints
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

$tablet-background-image: 768px;
$mobile-background-image: 375px;

.wrapper {
  display: flex;
  flex-direction: row;

  position: absolute;
  background-color: var(--search-and-grid-background);
  width: 730px;
  height: 140px;
  bottom: -100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  border-radius: 6px;
  border-top-left-radius: 0px;

  @media (max-width: $tablet-and-below) {
    width: revert;
    max-width: 689px;
  }

  @media (max-width: $tablet-background-image) {
    width: calc(100% - 40px * 2);
  }

  @media (max-width: $mobile-and-below) {
    width: calc(100% - 24px * 2);
    height: 205px;

    justify-content: center;
    border-radius: 6px;

    bottom: -190px;
  }
}

.logowrapper {
  display: grid;
  place-content: center;
  width: 140px;
  height: 140px;

  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;

  @media (max-width: $mobile-and-below) {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    width: 50px;
    height: 50px;

    border-radius: 15px;
  }
}

.logowrapper img {
  transform: scale(2);

  @media (max-width: $mobile-and-below) {
    transform: revert;
  }
}

.sitewrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 590px;
  padding-left: 40px;
  padding-right: 43px;

  @media (max-width: $mobile-and-below) {
    flex-direction: column;
    max-width: 327px;
    padding-left: revert;
    padding-right: revert;
    padding-top: 49px;
    padding-bottom: 32px;
    gap: 27px;
  }
}

.sitewrapper h2 {
  font-size: var(--font-size-heading-2);
  font-weight: 700;
  line-height: 1;
  color: var(--font-color);
  margin-bottom: 13px;
}

.sitewrapper p {
  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: 1;
  color: var(--dark-gray);
}
