// Breakpoints
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

.wrapper {
  grid-area: main;
  background-color: var(--background);
  padding-left: 165px;
  padding-right: 165px;
  padding-top: 146px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 65px 30px;

  @media (max-width: $tablet-and-below) {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 110px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 65px 10px;
  }
}

.warning {
  display: grid;
  place-content: center;
}
