.wrapper {
  border: none;
  border-radius: 5px;
  width: 147px;
  height: 48px;
  background-color: var(--button-background);
  color: var(--button-font-color);

  font-size: var(--font-size-body);
  font-weight: 700;
  line-height: 1;
}
