// Breakpoints
$tablet-and-below: 1100px;
$mobile-and-below: 550px;

.wrapper {
  grid-area: footer;
  background-color: var(--background);
  padding-top: 56px;

  display: flex;
  justify-content: center;

  @media (max-width: $mobile-and-below) {
    padding-top: 32px;
  }
}
